@{
    ViewBag.Title = "About EduS";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <p>
                    <h2>Welcome to EduS. Sofisticated educational information system. Continue with login and enjoy all the featerus which come along!</h2>
                </p>
            </hgroup>
            
        </div>
    </section>
}